module.exports = {
    apps: [
        {
            name: 'Paper book',
            script: 'dist/server/dist/index.js',
            instances: 1,
            exec_mode: "fork"
            watch: false,
            env_production: {
                NODE_ENV: 'production',
                API_PORT:8080,
                DB_HOST:"localhost",
                DB_PORT:5432,
                DB_NAME:"DATABASE NAME",
                DB_USER:"DAATBASE USER",
                DB_PASSWORD:"DATABASE PASSWORD",n
                LOGGER_PATH:"./",
                FRONT_END_URL:"FORNT END URL",
                JWT_SECRET:"JWT SECRET",
                SESSION_TIME:3600000,
                ALLOW_DEV_AUTH:false
            }
        }
    ]
};
